In [1]:
import sys
sys.path.append('/home/emna/text/lib/python3.5/site-packages')
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
full_labels = pd.read_csv('celebrities_labels.csv',index_col=0)

In [3]:
full_labels.head()

                 width  height         class  xmin  ymin  xmax  ymax
filename
wenn5937954.jpg    603     839    AndySerkis    79   186   642   456
2s6584.jpeg        125     165     willSmith    12    42   141    99
1s15927.jpeg        68      80     willSmith     6    16    72    56
2s6372.jpeg         85     113     willSmith    14    35   100    65
1jth406.jpeg        82     115  justinBieber    11    33    97    64

In [4]:
grouped = full_labels.groupby('class')
grouped

In [5]:
full_labels.groupby(['class']).size()

class
AndySerkis        200
dewayneJohnson     43
drake              61
jayZ               15
justinBieber      103
kimKardashian     128
tomHanks           79
willSmith          78
dtype: int64

In [6]:
df = full_labels.groupby(['class']).size().to_frame('size')

In [7]:
df

                size
class
AndySerkis       200
dewayneJohnson    43
drake             61
jayZ              15
justinBieber     103
kimKardashian    128
tomHanks          79
willSmith         78


### split each file into a group in a list

In [8]:
grouped = full_labels.groupby('class')

In [9]:
grouped_list = [grouped.get_group(x) for x in grouped.groups]

In [10]:
len(grouped_list)

8

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(full_labels, full_labels['class'],test_size=0.2)

In [13]:
full_labels.shape

(707, 7)

In [14]:
X_train.shape

(565, 7)

In [15]:
X_train.groupby(['class']).size()

class
AndySerkis        159
dewayneJohnson     34
drake              49
jayZ               14
justinBieber       85
kimKardashian     108
tomHanks           59
willSmith          57
dtype: int64

In [16]:
X_test.shape

(142, 7)

In [17]:
X_test.groupby(['class']).size()

class
AndySerkis        41
dewayneJohnson     9
drake             12
jayZ               1
justinBieber      18
kimKardashian     20
tomHanks          20
willSmith         21
dtype: int64

In [18]:
X_train.to_csv('train.csv')
X_test.to_csv('test.csv')